# Key used to upload source to Etherscan (get from https://explorer.optimism.io/myapikey)
#
ETHERSCAN_API_KEY=

# URL for the network. If using Alchemy with Optimism Goerli,
# it look like this:
# https://opt-goerli.g.alchemy.com/v2/ < Alchemy API Key >
#
FORGE_RPC_URL=

# Private key (on Optimism Goerli) that has ETH to deploy contracts
FORGE_PRIVATE_KEY=

# Address of the BountiesAttestor admin
# Default is Hardhat or Foundry key #9: 0xa0Ee7A142d267C1f36714E4a8F75612F20a79720
BOUNTIES_ATTESTOR_ADMIN=0xa0Ee7A142d267C1f36714E4a8F75612F20a79720

# Address of the BountiesAttestor for deployment
BOUNTIES_ATTESTOR_ADMIN=

# to use alchemy which will give you higher rate limits than the default rpcs,
# sign up for an api key https://docs.alchemy.com/docs/alchemy-quickstart-guide
# After signing up uncomment the `alchemyProvider(...)` in `src/wagmi.ts`
VITE_ALCHEMY_API_KEY=

ANVIL_CHAIN_ID=31337

# Used to fork mainnet for tests
ANVIL_FORK_URL=https://mainnet.optimism.io
